{% extends "base.html" %} 
{% block nav-proyectos %}<strong class="nav-active">Proyectos</strong>{% endblock %}
{% block page_content %}
    <h1 class="title">Mi Blog</h1>
    <hr class="bg-warning">
    {% for post in posts %} 
    <h2><a href="{% url 'detalle_post' post.pk %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on }} |&nbsp;
        Categorias:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'post_category' category.name %}">{{ category.name }}</a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":200" }}...</p>
    {% endfor %}
{% endblock %}
